*, *:before, *:after {
  box-sizing: border-box;
}

.markdown {
  font-family: Merriweather, serif;
  font-size: 16px;
  line-height: 1.6;
  color: #36393b;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
  text-align: center;
}

.markdown h1 {
  font-size: 4em;
  margin: 0 0 1em 0;
}

.markdown h2 {
  margin: 1.6em 0 0 0;
  font-size: 1.8em;
}

.markdown h3 {
  font-size: 1.5em;
}

.markdown h4 {
  font-size: 1.4em;
}

.markdown h5 {
  font-size: 1.3em;
}

.markdown h6 {
  font-size: 1.2em;
}

.markdown ul {
  list-style: circle;
}

.markdown p, .markdown ul, .markdown ol {
  font-size: 1.3rem;
  line-height: 1.75em;
  margin: 1.2em 0;
}

.markdown ol, .markdown ul {
  padding-left: 2rem;
}

.markdown li {
  margin: 1rem 0;
}

.markdown li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.markdown img {
  max-width: 100%;
}

.markdown pre {
  border-radius: 8px!important;
  margin: 1.2em 0!important;
}

.markdown pre code {
  padding: 0;
}

.markdown blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.markdown blockquote p {
  padding-bottom: 6px;
}

.markdown blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

.markdown figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

.markdown table {
  border-collapse: collapse;
  font-family: Rubik, sans-serif;
  font-size: 1.125em;
  margin: 2em 0;
}

.markdown th {
  border-bottom: 2px solid #cccccc;
  padding: 0.4em 0.8em;
}

.markdown td {
  padding: 0.4em 0.8em;
}

.container {
  margin: 0 auto;
  max-width: 42em;
  width: 100%;
}

.content h1 {
  font-size: 3em;
  margin: 1em 0;
}

@media (max-width: 1020px) {
  .markdown h1 {
    font-size: 3em;
  }

  .markdown .content h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 480px) {
  .markdown {
    font-size: 14px;
  }

  .markdown p, .markdown ul, .markdown ol {
    font-size: 1.2rem;
    margin: 1em 0;
  }
}